<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Ductia</title>

	<link rel="stylesheet" type="text/css" href="main.css" />
	<link rel="stylesheet" type="text/css" href="table.css" />
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/Content/jquery-ui.css" />


	<script src="/Scripts/jquery-1.10.2.js"></script>
	<script src="/Scripts/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js"></script>
	<script src="ductia.js"></script>

</head>

<body ng-app="ductia" ng-controller="SearchController as search">
	<div id="pageWarpper">
		<tabset>
			<tab heading="Piece Search">
				<input ng-model="name" />
				<button ng-click="searchByName(name)">Search</button>
				<div class="CSS_Table_Example" style="width: 600px; height: 150px;">
					<table>
						<tr>
							<th>Title</th>
							<th>ISBN</th>
							<th>Publisher</th>
							<th>Pieces</th>
						</tr>
						<tr ng-repeat="res in searchResult">
							<td>{{res.title}}</td>
							<td>{{res.isbn}}</td>
							<td>{{res.publisher}}</td>
							<td>
								<div ng-repeat="piece in res.pieces">
									<span>{{piece.title}}</span>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</tab>

			<tab heading="Book Search">
				<select ng-model="eboard" class=" selectedboard">
					<option value="">
						All
					</option>
					<option ng-repeat="board in examBoards" value="{{board}}">
						{{board}}
					</option>
				</select>

				<select ng-model="instrument" class="slectedInstrument">
					<option value="">
						Choose an Instrument
					</option>
					<option ng-repeat="instrument in instruments" value="{{instrument}}">
						{{instrument}}
					</option>
				</select>

				<ol ng-model="selgrades" ductia-grades>
					<li ng-repeat=" grade in grades" class="ui-state-default">
					{{grade}}</li>
				</ol>
				<button ng-click="searchByCriteria(eboard, instrument, selgrades)">Search</button>
			</tab>
		</tabset>
	</div>
</body>
</html>