#pageWrapper {
	width: 75%;
	margin: auto;
}

#searchByPieceNameDiv, #searchByGradeDiv, #selectedGradesContainer, #searchByBoardInstrumentGrades  {
	float: left;
	margin-right: 20px;
}

#searchByPieceNameDiv {
	margin-right: 20px;
}

.gradeSearchButtonContainer {
	clear: both;
}
