#pageWrapper {
	width: 75%;
	margin: auto;
}

#searchByPieceNameDiv, #searchByGradeDiv, #selectedGradesContainer {
	float: left;
}

#searchByPieceNameDiv {
	margin-right: 20px;
}

#gradeSearchButtonContainer {
	clear: both;
}
